# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
venv/
env/

# Environment variables

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Large ML files (optional)
*.pt
*.pth
*.ckpt
*.h5

# Dataset folder if too large
khmer_stt_data/
storage/
server.out.log
server.err.log
test_gemini.py
.env
