Flask==3.1.0
python-dotenv==1.0.1
pandas==2.2.3
soundfile==0.13.1
librosa==0.10.2.post1
google-generativeai==0.8.5
Authlib==1.5.2
gunicorn==23.0.0
numpy==1.26.4
numba==0.60.0
llvmlite==0.43.0
scipy==1.13.1